/Statistics of  the S4 expression data.pdf
/expression/KORA F3_S4_F4_F4OGTT.docx
/expression/KORA_F3_379_samples_normalized_expression_data_zzupdated.csv
/expression/KORA_F3_381_samples_normalized_expression_data.csv
/expression/KORA_F4_993_samples_Expressionsdaten.csv
/"expression/Illumina WG-6 v2-Annotationsfile Erkl\303\244rung.docx"
/expression/KORA_S4_657_samples_Expressionsdaten.csv
/expression/annotation_Illumina_WG_V2_KORA_F3.csv
/metabolites/K2912_Xu_F3_trans20130304.csv
/metabolites/K2912_Xu_S4F4_trans120213.csv
/metabolites/KoraF4-metabolomics-quality.controlled-mice.imputed-20100107.csv
/metabolites/_20120716_imputed_Biocr_S4_ZZ_NR.csv
/methylation/F3/KORA.F3_methylation_m.value_callrate80_chr_10_.txt.gz
/methylation/F3/KORA.F3_methylation_m.value_callrate80_chr_11_.txt.gz
/methylation/F3/KORA.F3_methylation_m.value_callrate80_chr_12_.txt.gz
/methylation/F3/KORA.F3_methylation_m.value_callrate80_chr_13_.txt.gz
/methylation/F3/KORA.F3_methylation_m.value_callrate80_chr_14_.txt.gz
/methylation/F3/KORA.F3_methylation_m.value_callrate80_chr_15_.txt.gz
/methylation/F3/KORA.F3_methylation_m.value_callrate80_chr_16_.txt.gz
/methylation/F3/KORA.F3_methylation_m.value_callrate80_chr_17_.txt.gz
/methylation/F3/KORA.F3_methylation_m.value_callrate80_chr_18_.txt.gz
/methylation/F3/KORA.F3_methylation_m.value_callrate80_chr_19_.txt.gz
/methylation/F3/KORA.F3_methylation_m.value_callrate80_chr_1_.txt
/methylation/F3/KORA.F3_methylation_m.value_callrate80_chr_20_.txt.gz
/methylation/F3/KORA.F3_methylation_m.value_callrate80_chr_21_.txt.gz
/methylation/F3/KORA.F3_methylation_m.value_callrate80_chr_22_.txt.gz
/methylation/F3/KORA.F3_methylation_m.value_callrate80_chr_2_.txt.gz
/methylation/F3/KORA.F3_methylation_m.value_callrate80_chr_3_.txt.gz
/methylation/F3/KORA.F3_methylation_m.value_callrate80_chr_4_.txt.gz
/methylation/F3/KORA.F3_methylation_m.value_callrate80_chr_5_.txt.gz
/methylation/F3/KORA.F3_methylation_m.value_callrate80_chr_6_.txt.gz
/methylation/F3/KORA.F3_methylation_m.value_callrate80_chr_7_.txt.gz
/methylation/F3/KORA.F3_methylation_m.value_callrate80_chr_8_.txt.gz
/methylation/F3/KORA.F3_methylation_m.value_callrate80_chr_9_.txt.gz
/methylation/F3/KORA.F3_methylation_m.value_callrate80_chr_X_.txt.gz
/methylation/F3/KORA.F3_methylation_m.value_callrate80_chr_Y_.txt.gz
/methylation/F4/KORA.F4_methylation_m.value_callrate80_chr_10_.txt.gz
/methylation/F4/KORA.F4_methylation_m.value_callrate80_chr_11_.txt.gz
/methylation/F4/KORA.F4_methylation_m.value_callrate80_chr_12_.txt.gz
/methylation/F4/KORA.F4_methylation_m.value_callrate80_chr_13_.txt.gz
/methylation/F4/KORA.F4_methylation_m.value_callrate80_chr_14_.txt.gz
/methylation/F4/KORA.F4_methylation_m.value_callrate80_chr_15_.txt.gz
/methylation/F4/KORA.F4_methylation_m.value_callrate80_chr_16_.txt.gz
/methylation/F4/KORA.F4_methylation_m.value_callrate80_chr_17_.txt.gz
/methylation/F4/KORA.F4_methylation_m.value_callrate80_chr_18_.txt.gz
/methylation/F4/KORA.F4_methylation_m.value_callrate80_chr_19_.txt.gz
/methylation/F4/KORA.F4_methylation_m.value_callrate80_chr_1_.txt
/methylation/F4/KORA.F4_methylation_m.value_callrate80_chr_20_.txt.gz
/methylation/F4/KORA.F4_methylation_m.value_callrate80_chr_21_.txt.gz
/methylation/F4/KORA.F4_methylation_m.value_callrate80_chr_22_.txt.gz
/methylation/F4/KORA.F4_methylation_m.value_callrate80_chr_2_.txt.gz
/methylation/F4/KORA.F4_methylation_m.value_callrate80_chr_3_.txt.gz
/methylation/F4/KORA.F4_methylation_m.value_callrate80_chr_4_.txt.gz
/methylation/F4/KORA.F4_methylation_m.value_callrate80_chr_5_.txt.gz
/methylation/F4/KORA.F4_methylation_m.value_callrate80_chr_6_.txt.gz
/methylation/F4/KORA.F4_methylation_m.value_callrate80_chr_7_.txt.gz
/methylation/F4/KORA.F4_methylation_m.value_callrate80_chr_8_.txt.gz
/methylation/F4/KORA.F4_methylation_m.value_callrate80_chr_9_.txt.gz
/methylation/F4/KORA.F4_methylation_m.value_callrate80_chr_X_.txt.gz
/methylation/F4/KORA.F4_methylation_m.value_callrate80_chr_Y_.txt.gz
/"expression/Illumina WG-6 v2-Annotationsfile Erkl\303\244rung.docx"
/"expression/Illumina HT-12 v3 -Annotationsfile_Erkl\303\244rung.docx"
/expression/Annotation HumanHT-12v3 final.csv
/S4_Expression_adjusted_plate.Rdata
/Manuscript_PlosOne_Revision_Tobacco_smoking_leads_to_extensive_but_largely_reversible_genome-wide_changes_in_DNA_methylation_06_02_2013_ohne Korrekturen.doc
/F4_Expression_adjusted_plate.Rdata
/Analysis report/20130429 smoking discussion.ppt
/Analysis report/20130429 Smoking Omics Meeting Summary.doc
.Rproj.user
*.csv
